<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="classes" thread-count="1">
  <listeners>
    <!--执行重试 -->
    <listener class-name="com.extend.testng.RetryListener"/>
    <!--结果去除重试次数 && 失败自动截图 -->
    <listener class-name="com.extend.testng.TestListener"/>
  </listeners>
  <test name="Test" verbose="2">
    <classes>
      <class name="com.selenium.test.SeleniumTestNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
